@model ALSETDotnetTest.Models.Researcher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Researcher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalJournalsUploaded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalJournalsUploaded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResearcherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
